<div class="container p-5">
<%= form_for(@task) do |f| %>
  <div class="form-group">
    <b><%= f.label :title %></b>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <b><%= f.label :details %></b>
    <%= f.text_area :details, class: 'form-control' %>
  </div>
  <div class="form-group form-check">
    <%= f.check_box :completed, class: 'form-check-input' %>
    <b><%= f.label :completed, class: 'form-check-label'%></b>
  </div>
  <%= f.submit class: 'btn btn-primary'%>
<% end %>
</div>
